@import url("card.css");
@import url("bookmarks.css");
@import url("profile.css");
@import url("switch.css");
@import url("variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-width: 400px;
}

header {
    position: fixed;
    background-color: var(--color-foot-head);
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    z-index: 1;
    border: solid 2px var(--color-foot-head-border);
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 110px 0;
}

.main-quiz {
    align-items: center;
}

.main-profile {
    margin-left: 5vw;
    margin-right: 5vw;
}

footer {
    position: fixed;
    background-color: var(--color-foot-head);
    width: 100%;
    bottom: 0;
    border: solid 2px var(--color-foot-head-border);
}

.footer__image {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav__item {
    width: calc(100vw/3);
    text-align: center;
    padding: 10px;
    display: block;
}

.nav__item:not(.nav__item--selected):hover {
    background-color: var(--color-tag);
}

.nav__item--selected {
    background-color: var(--color-current-page);
}

@media (min-width: 900px) {
    :root {
        font-size: 20px;
    }

    main {
        margin-top: 130px;
    }

    .main-quiz {
        flex-flow: row wrap;
        justify-content: center;
    }

    .card {
        width: calc(87vw/2);
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 24px;
    }

    main {
        margin-top: 150px;

        .card {
            width: calc(84vw/3);
        }
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
    }

    body {
        background-color: black;
    }
}